{% extends 'base.html.twig' %}
{% block title %}Consultation des séjours en fonction d'une date donnée{% endblock %}
{% block body %}
    <h1>Séjours commençant à une date donnée</h1>
    <p>Contenu à venir...</p>
{% endblock %}
