{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
{% endblock %}

{% block body %}

<div class="container-center">
    <a href="{{ path('app_patient') }}" class="big-button">Gérer les patients</a>
    <a href="{{ path('app_sejour') }}" class="big-button">Gérer les séjours</a>

</div>
{% endblock %}